:root{
  --main-color: #2c3e50;
  --light-color: rgb(150,150,150);
  --red-color: #ff6a6a;
  --green-color: #41b883;
}

.b-toast{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.toast-header{
  background-color:var(--main-color) !important;
  color:white !important;
  font-weight: normal !important;
}

.b-toast button.close{
  color:white !important;
}

.container.max-container{
  width:90vw;
  max-width: none;
}

.form-control{
  border:0;
  border-radius:0;
  border-bottom:1px solid var(--light-color);
}

.form-control:focus{
  box-shadow: none;
  border-color: var(--main-color);
  border-width:2px;
}

.custom-btn:hover{
  cursor:pointer;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic !important;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic !important;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic !important;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic !important;
}

.multiselect__tags{
  border-radius: 0 !important;
}

.multiselect__content-wrapper{
  border-radius:0 !important;
}

.link{
  color:var(--main-color);
  cursor:pointer;
  font-weight: bold;
  transition: all ease-in-out 200ms;
}

.link:hover{
  color:var(--light-color);
  transition: all ease-in-out 200ms;
}

#infoBoxHolder {
  z-index: 300;
  position: absolute;
  left: 5px;
}
#infoBox {
  border: 1px solid #999;
  padding: 8px;
  background-color: whitesmoke;
  opacity: 0.9;
  position: relative;
  text-align: justify;
  width: 40vw;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
/* this is known as the "clearfix" hack to allow
floated objects to add to the height of a div */
#infoBox:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
